@page
@model Mystore.Pages.Clients.IndexModel
@{
}

<br>
<h2> List of Clients </h2>
<a class='btn btn-primary btn-sm' href='/Clients/Create'>New Client</a>
<div style="display:block; margin:10px">


    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" id="myInput" onkeyup="myFunction()" />


                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
</div>
<table class="table" id="clienttable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="clientview">
        @foreach (var item in Model.listClients)

        {

            <tr class="clientdata">

                <td>@item.id</td>
                <td class="clientname" name="txtValue"> @item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.created_at </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Clients/Edit?id=@item.id"> Edit</a>
                    <a class="btn btn-danger btn-sm deleteclient" href="/Clients/Delete?id=@item.id" style=""> Delete</a>
                    @*<button class="btn btn-danger btn-sm" onclick="confirm(" Are You Sure to Delete")">Edit</button>*@
                    <button class="btn btn-danger btn-sm" onclick="confirmOnDelete(this)">Delete</button>
                </td>
            </tr>
        }
    </tbody>

</table>
<script>
                function myFunction() {
                    // Declare variables
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");

                    filter = input.value.toUpperCase();

                    table = document.getElementById("clienttable");

                    tr = table.getElementsByClassName("clientdata");

                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByClassName("clientname")[0];
                        if (td) {
                            console.log(td)

                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                           } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
                function confirmOnDelete(btn) {
                    console.log(btn)
                    var approval = window.confirm('Are You Sure to Delete')
                    console.log(approval)
                    if(approval == true)
                    {
                        btn.parentElement.getElementsByClassName("deleteclient")[0].click()
                    }

                    }
                


</script>

